@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

.product-card {
  background: #eaeaea;
}

.product-card img {
  mix-blend-mode: multiply;
}